<h1>Article</h1>

<%= link_to 'Edit', edit_article_path(@article) %>
<p>
    <strong>Title:</strong>
    <%= @article.title %>
</p>

<p>
    <strong>Text:</strong>
    <%= @article.text %>
</p>

<br>
<%= link_to 'My Blog', controller: 'articles' %>